img {
    border-radius: 20%;
}

#portfolio-body {
    background-color: blanchedalmond;
}

#portfolio-image {
    border-color: #007BFF;
}

#contact-body {
    background-image: url('/images/IMG_0862.JPG');
}

#about-body {
    background-color: blanchedalmond;
}

#my-photo {
    border-radius: 20%;
    border-color: #007BFF;
}